html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.75em;
    overflow-x: hidden;
}

dl {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;

    dd {
        -webkit-margin-start: 0;
    }
}

.contain {
    max-width: 720px;
    width: 95%;
    margin: 0 auto 50px;
}

#root {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}