#detail {
    header {
        font-size: 5rem;
        text-align: center;
        line-height: 1;
        margin: 15vw 0 5vw;
    }

    time {
        font-size: 1.3rem;
        color: #9EABB3;
    }

    .content {
        margin-top: 1vw;
    }

    .swiper-slide {
        img {
            width: 100%;
        }
    }
}