.drawer_list {
    overflow: scroll;
    height: 70%;
    left: 24px;
    right: 24px;
    top: 140px;
    position: absolute;
    padding-bottom: 50px;

    button {
        margin-top: 20px;
    }
}

.ant-drawer-body {
    height: 80%;
    overflow: hidden;
}

.ant-input-search {
    position: relative;
    top: -10px;
}

.login_out {
    width: 100%;
    right: 0;
    text-align: right;
    padding-right: 1vw;
    background: #fff;
    position: absolute;
    padding-bottom: 1vw;
    bottom: 0;
}