#login {
    max-width: 400px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;

    .btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .ant-input-group-wrapper {
        margin-bottom: 20px;
    }

    em {
        font-style: normal;
        font-size: 2rem;
    }
}